/* Desktop */
@media (min-width: 750px ){
  /* Utilities */
  .container{
    max-width: 1020px;
    display:flex;
    flex-direction: row-reverse;

  }
  .news-container{
    width: 65%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-gap: 4rem;

  }
  .today-picks{
    width: 35%;
  }
  /* Nav */
  .border{
    display: none;
  }
  .logo,
  .link-news,
  .link-search,
  .link-menu{
    display:inline;
  }
  .link{
    margin: 0 1.2rem;
  }
  .logo{
    margin-left: 2rem;
  }

/* HEADER */
  .site-init{
    margin-top: 7.3rem;
  }
  .title{
    font-size: 5.5rem;
  }
  .description-header{
    font-size: 1.8rem;
  }
  .border-line{
    width: 5rem;
  }
  /* Main news */
  .main-news{
    height: 40rem;
    grid-column: span 2;
    grid-row: 1;
  }
  .main-news-img{
    height: 40rem;
  }
  .main-news-img > img{
    height: 100%;
  }
  .main-news-text{
    top:22rem;
  }

  /* Secondary News */
  .secondary-news{
    grid-column: span 1;
    grid-row: 2;
  }

  .secondary-news-img, .secondary-news-img2{
    height: 25rem;
  }
  .secondary-news-text{
    height: auto;
  }

/* Today pic */
  .today-picks{
    margin: 0;
    padding: 0 4rem 0 0;
  }

}

